@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');
  
* {
    box-sizing: border-box;
    padding: 0.0625rem;
    font-family: Inter;
  }

  body{
        background-image: linear-gradient(to right, #161616 0%, rgb(9, 9, 9) 100%);
        scrollbar-width: thin;
  }

  #dark {
    background-color: linear-gradient(to right, #161616 0%, rgb(9, 9, 9) 100%);
  }

  #light {
    background-color: #00C0FF;
  }

  .no-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
          align-items: center;

          font-size: 20vw;
  }
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/


/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

.switch-container{
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch .switch {
  --background: #202020;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.toggle-switch .switch::before {
  position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}

.toggle-switch input[type="checkbox"]:checked+.switch::before {
  transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

.toggle-switch input[type="checkbox"]:checked+.switch {
  background-color: #202020;
}


/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/



    body::-webkit-scrollbar {
      width: 1rem;
      
    }
  
    body::-webkit-scrollbar-track {
      background-color: black;
      border-radius: 20rem;
    }
  
    body::-webkit-scrollbar-thumb {
      background-color: #D1D1D1;
      border-radius: 20rem;
      outline: none;
    }
/*------------------------COLOURS------------------------*/  

:root {
  --custom-red: #FA233E;
  --custom-orange: #FFA15C;
  --custom-yellow: #F5EB67;
  --custom-green: #44D492;
  --custom-baby-blue: #88F7E2;
}


/*----------------FONTS-----------------*/

.home-heading1{
  font-size: 10vw;
}

.home-heading2{
  font-size: 10vw;
  margin-top :-4vw; 
  padding-top:0;
}

.about-heading1{
  font-size: 13vw;
}

.about-heading2{
  font-size: 10vw;
  margin-top :-10vw; 
  padding-top:0;
}

.inter-font-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;

  color: #D1D1D1;
  
}

.inter-font-light {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  color: #D1D1D1;
}

.space-font {
  font-family: 'Inter', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Space Grotesk', sans-serif;
}


/*-----------------SLIDE IN ANIMATIONS------------------*/

@keyframes slideInLeft {
  from {
    transform: translateX(-100vw);
  }

  to  {
    transform: translate(0);
  }
}

.slideInLeft {
  animation: slideInLeft 1s ease-in;
}

@keyframes slideInRight {
  from {
    transform: translateX(100vw);
  }

  to  {
    transform: translate(0);
  }
}

.slideInRight {
  animation: slideInRight 1s ease-in;
}


/*-------------HOVER ANIMATIONS-----------------*/


.home-heading1:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.home-heading2:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}


@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}


/*--------------HEADING-----------------------*/

.heading-container {
  text-align: center;
  margin-top: 20rem;
}

/*--------------ABOUT SECTION------------------*/

/* --------------- Mobile Section --------------- */
  .current-project-container {
    background-color: #D1D1D1;
    height: 100%;
    width: 100%;
    border-radius: 1.563rem;
  
  }
  


  /* ---- About Section ----- */

 /* ---- About Section ----- */

.about-heading-1{
  font-size: 5vw;
}

.about-heading-2{
  font-size: 10vw;
  margin-top: -5vw;
}

.project-grid-container {
  display: grid;
}

 .about-page-container {

  display: grid;

  grid-gap: 2vw;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2rem;

}

.my-image{
  background-color: black;
  padding: 1vw;
  border-radius: 1rem;
  
}

.profile-image{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.side-bar{
  background-color: black;
  padding: 5vw;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.side-bar-header-font-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 10vw;
  margin-left: -45.5vw;
  color: #D1D1D1;


}
.get-in-touch-button-container {

  display: flex;
  flex-direction: row;
  width: 100%;

    overflow-y: hidden;
      overflow-x: auto;
    
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
}

  .get-in-touch-button-container::-webkit-scrollbar {
    display: none;
  }

.twitter-button {
  width: 14vw;
  height: 18vw;
  border-radius: 1.5vw;
  border: none;
  background: var(--custom-baby-blue);
  cursor: pointer;
  color: black;
}

.linked-in-button {
  margin-left: 2vw;
  width: 14vw;
  height: 18vw;
  border-radius:1.5vw;
  border: none;
  background: var(--custom-green);
  cursor: pointer;
  color: black;
}

.git-hub-button {
  margin-left: 2vw;
  width: 14vw;
  height: 18vw;
  border-radius: 1.5vw;
  border: none;
  background: var(--custom-yellow);
  cursor: pointer;
  color: black;
}

.ringer-button {
  margin-left: 2vw;
  width: 14vw;
  height: 18vw;
  border-radius: 1.5vw;
  border: none;
  background: var(--custom-orange);
  cursor: pointer;
  color: black;
}

.g-mail-button {
  margin-left: 2vw;
  width: 14vw;
  height: 18vw;
  border-radius: 1.5vw;
  border: none;
  background: var(--custom-red);
  cursor: pointer;
  color: black;
}

.side-bar-header-font-light {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 9vw;
  margin-top: -8vw;
  margin-left: -46.5vw;
  color: #D1D1D1;

}


.side-bar-header-font-bold-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 7.2vw;
  margin-left: -32.5vw;
  color: #D1D1D1;


}

.side-bar-header-font-light-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 8vw;
  margin-top: -5vw;
  margin-left: -33.5vw;
  color: #D1D1D1;

}

.side-bar-body-font-light {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 5vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #D1D1D1;

}

.side-bar-button {
  margin: 2.8vw;
  font-size: 5vw;
  height: 15vw;
  width: 100%;
  border-radius: 10vw;
  border: none;
  background: #D1D1D1;
  cursor: pointer;
  color: black;

}
.side-bar-button-font-bold  {
  font-weight: 700;
}

.qualification-section{
  background-color: black;
  padding: 5vw;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qualification-header-font-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 7vw;
  color: #D1D1D1;
  margin-left: -30vw;

}

.qualification-header-font-light {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 8vw;
  margin-top: -5vw;
  margin-left: -30vw;
  color: #D1D1D1;

}

.qualification-body-font-light {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 5vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #D1D1D1;

}

.self-study-button {
  margin: 2.8vw;
  font-size: 5vw;
  height: 15vw;
  width: 100%;
  border-radius: 10vw;
  border: none;
  background: #D1D1D1;
  cursor: pointer;
  color: black;

}

.second-heading {
  padding-top: 10vw;
  padding-bottom: 5vw;

}

.card-header-info {
  column-span: all;
  font-size: 10vw;
  color: #D1D1D1;
}

.card-header-font-bold {

  font-size: 8.1vw;
  margin-top: -6vw;
  padding-top: 6vw;
}

.card-header-font-light {
  font-size: 7.5vw;
  margin-top: -8vw;
  padding-top: 0;
}

.more-info-cards  {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(10vw, auto));
  grid-gap: 2vw;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 0.3rem;

  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

.more-info-cards::-webkit-scrollbar {
  display: none;
}

.list-item-inter-font-bold{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #D1D1D1;
}

.card-heading-info{
  column-span: all;
  font-size: 10vw;
  color: #D1D1D1;
}

.card-font-bold{

    margin-top: -6vw;
    padding-top: 6vw;
}

.card-font-light{
    font-size: 7.5vw;
    margin-top: -8vw;
    padding-top: 0;
}

.more-info-card {
  background-color: black;
  border-radius: 1rem;
  column-count: 2;
  column-gap: 8vw;
  padding: 6vw;
  padding-bottom: 16vw;

}


.more-info-card li {
  font-size: 3vw;
 
}

.more-info-card li::marker {
  color: var(--custom-red);
  font-size: 8vw;
}
/*---------------------BULLETS----------------------*/
/*---------------------BULLETS----------------------*/
/*---------------------BULLETS----------------------*/
.more-info-card li:nth-child(3)::marker {
  color: var(--custom-baby-blue);
}
.more-info-card li:nth-child(4)::marker {
  color: var(--custom-green);
}
.more-info-card li:nth-child(5)::marker {
  color: var(--custom-orange);
}
.more-info-card li:nth-child(6)::marker {
  color: var(--custom-red);
}
.more-info-card li:nth-child(7)::marker {
  color: var(--custom-yellow);
}
.more-info-card li:nth-child(8)::marker {
  color: var(--custom-baby-blue);
}
.more-info-card li:nth-child(9)::marker {
  color: var(--custom-green);
}
.more-info-card li:nth-child(11)::marker {
  color: var(--custom-orange);
}
.more-info-card li:nth-child(12)::marker {
  color: var(--custom-red);
}
.more-info-card li:nth-child(13)::marker {
  color: var(--custom-baby-blue);
}

/*---------------------BULLETS----------------------*/
/*---------------------BULLETS----------------------*/
/*---------------------BULLETS----------------------*/


  /* ------------------ Projects Section -------------------------- */

  .project-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, minmax(10vw, auto));
    grid-gap: 2vw;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .project-one {


  }
  
  .project-heading-one{
    font-size: 9vw;
    
  }
  
  .project-heading-two{
    margin-top: -8vw;
    font-size: 10vw;

  }

  .project-two {
    background-color: #FFFFFF;
    border-radius: 5vw;
    padding: 1vw;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  .large-project-image {
    height: 100%;
    width: 100%;
    border-radius: 1vw;
  
  }

.large-project-text-one {
  font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 5vw;
    margin-top: -4vw;
    color: black;
}

.large-project-text-two {
  font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 5vw;
    color: black;
}

  .project-three {
    background-color: #FFFFFF;
    border-radius: 4vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .small-project-image {
    height: 100%;
    width: 100%;
    border-radius: 1vw;
  
  }

  .small-project-text-one {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 5vw;
    margin-top: -4vw;
    color: black;
  }

  .small-project-text-two {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 5vw;
    color: black;
  }

  .project-four {
      background-color: #FFFFFF;
        border-radius: 4vw;
        padding: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }

  .project-five {
        background-color: #FFFFFF;
          border-radius: 4vw;
          padding: 1vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  }

  .project-six {
      background-color: #FFFFFF;
        border-radius: 4vw;
        padding: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }

     .project-grid-container {
  
       display: grid;
       grid-gap: 4vw;
       max-width: 94%;
       margin: 0 auto;
       margin-top: 2rem;
       padding: 0;
  
  
     }
  
     .project-description {
       background-color: #FFFFFF;
       border-radius: 2vw;
       padding: 0;
  
  
     }
  
     .middle-portion-center {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
     }
  
     .description-top-section {
       display: flex;
       justify-content: space-between;
       padding: 2vw;
     }
  
     .description-names {}
  
     .my-name {
       color: #000;
       font-size: 4.2vw;
     }
  
     .my-surname {
       margin-top: -5vw;
       color: #000;
       font-size: 3vw;
     }
  
     .button-and-date {
  
       
      display: grid;
     }
  
     .date-style {
       font-weight: 400;
     }
  
     .button-top-right {
  
       margin: 1vw;
       font-size: 2vw;
       font-weight: 700;
       height: 6vw;
       width: 26vw;
       border-radius: 6vw;
       border: none;
       background: #FFC42D;
       cursor: pointer;
       color: black;
  
     }
  
     .description-main-text {
      
      margin-top: -2vw;
      font-size: 20vw;
      font-weight: 700;
  
     }
  
     .project-description-body-text {
       margin-top: -10vw;
       font-size: 3.5vw;
       font-weight: 700;
       padding: 4vw;
     }
  
     .mobile-view-one {
       background-color: #FFFFFF;
       border-radius: 2vw;
     }
  
     .mobile-view-two {
       background-color: #FFFFFF;
       border-radius: 2vw;
     }
  
     .mobile-view-project {
       height: 100%;
       width: 100%;
       border-radius: 2vw;
     }
  
     .project-view {
       background-color: #FFFFFF;
       border-radius: 2vw;
     }
.notice-text {
  background-color: #FFFFFF;
  border-radius: 1vw;
  display: flex;
  padding: 2vw;
}

.notice-heading {
  margin-top: 14vw;
  font-weight: 700;
  font-size: 8vw;
}

.notice-body {
  font-weight: 200;
  font-size: 4vw;
  padding: 6vw;
}
/*-------------------About-Section--------------------------*/
/*-------------------About-Section--------------------------*/
/*-------------------About-Section--------------------------*/
    .small-project-text-one-mobile {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 4vw;
      margin-top: -3vw;
      color: black;
    }
  
    .small-project-text-two-mobile {
      font-family: 'Inter', sans-serif;
      font-weight: 100;
      font-size: 5.3vw;
      color: black;
    }

        .small-project-image-for-mobile {

          border-radius: 4vw;
    
        }
  
  .self-study-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
    }

  .construction-image{
    padding-top: 60vw;
    height: 80%;
    width: 90vw;
    border-radius: 1vw;
        
  }

  .con-self-study-heading-one {
    font-size: 5vw;
  }

  .con-self-study-heading-two {
    font-size: 4.8vw;
    margin-top: -4vw;
  }

  .con-self-study-button{
      height: 2.5vw;
      width: 2.5vw;
      background-color: #bbb;
      border-radius: 50%;
      margin: 1vw;
      display: inline-block;

  }

  .con-self-study-button:nth-child(1){
      background-color: var(--custom-baby-blue);

  }

  .con-self-study-button:nth-child(2){
      background-color: var(--custom-green);

  }

  .con-self-study-button:nth-child(3){
      background-color: var(--custom-orange);

  }

  .con-self-study-button:nth-child(4){
      background-color: var(--custom-red);

  }

  .con-self-study-button:nth-child(5){
      background-color: var(--custom-yellow);

  }

  .con-self-study-button:hover{
      background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
      animation: slidebg 10s linear infinite;
      margin-left: -1vw;
      transition: margin 0.5s ease-in-out;
  }

    .second-project-grid {
      display: grid;
      grid-gap: 2vw;
      max-width: 94%;
      margin: 0 auto;
      padding: 0;
    }

  
    .project-video-one {
      background-color: #FFFFFF;
      border-radius: 1vw;
  
    }
  
    .section-explanation {
      background-color: #44D492;
      border-radius: 2vw;
      display: grid;
      justify-content: space-between;
      align-items: center;
      padding: 4vw;
    }
  
    .section-heading {
      color: #000;
      font-size: 5vw;
  
    }
  
    .section-text {
      color: #000;
      font-weight: 400;
      font-size: 3.5vw;
      padding: 4vw;
  
    }
  
    .dsa-project-top-section {
      display: flex;
      justify-content: space-between;
    }
  
    .dsa-project-one {
      background-color: #FFFFFF;
      border-radius: 2vw;
      padding: 4vw;
  
  
    }
  
    .name-dsa-1 {
      color: black;
      font-size: 4vw;
    }
  
    .name-dsa-2 {
      color: black;
      margin-top: -4vw;
      font-size: 3.3vw;
    }
  
    .name-dsa-3 {
      color: black;
      margin-top: -3.3vw;
      font-size: 4vw;
    }
  
    .name-dsa-4 {
      color: black;
      font-size: 4.5vw;
    }
  
    .my-name-dsa {
      color: black;
      font-size: 4vw;
    }
  
    .my-surname-dsa {
      color: black;
      margin-top: -1vw;
      font-size: 4vw;
    }
  
  
    .my-name-dsa-white {
      color: white;
      font-size: 4vw;
    }
  
    .my-surname-dsa-white {
      color: white;
      margin-top: -3.3vw;
      font-size: 3.8vw;
    }
  
  
    .body-text {
      margin-top: 4vw;
      padding-bottom: 1vw;
    }
  
    .dsa-body-text {
  
      font-size: 04vw;
  
    }
  
    .dsa-body-text-white {
  
      font-size: 4vw;
      color: white;
  
    }
  
    .dsa-icon {
      margin-top: 1vw;
    }
  
    .dsa-icon-white {
      color: white;
    }
  
    .dsa-project-two {
      background-color: var(--custom-baby-blue);
      border-radius: 2vw;
      padding: 4vw;
    }
  
    .dsa-project-three {
      background-color: var(--custom-orange);
      border-radius: 2vw;
      padding: 4vw;
    }
  
    .dsa-project-four {
      background-color: var(--custom-red);
      border-radius: 2vw;
      padding: 4vw;
    }
  
    .project-video-two {
      background-color: #FFFFFF;
      border-radius: 2vw;
    }

/*------------------------------------DESKTOP-----------------------------*/
/*------------------------------------DESKTOP-----------------------------*/
/*------------------------------------DESKTOP-----------------------------*/

  @media (min-width: 768px) {

  * {
    font-size: 20px;
  }

    button:hover {
      background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
      animation: slidebg 10s linear infinite;
    }
    
    button:hover{
      padding: 0.5vw;
      transition: margin 0.2s ease-in-out;
    }

    @keyframes slidebg {
      to {
        background-position: 20vw;
      }
    }
  .about-heading2{
    font-size: 4vw;
    margin-top :-4vw; 
    padding-top:0;
  }

  .heading-container {
    margin-top: 5rem;
  
  }  


 /* ----------------------------- About Section ------------------------ */

 .about-heading-1:hover {
   color: linear-gradient(red 0%, orange 25%, yellow 50%, green 75%, blue 100%);
 }

 .project-grid-container {
    
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(10, minmax(10vw, auto));
    grid-gap: 1vw;
    max-width: 94%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;

    
 }
 
 .current-project {
    grid-column: 1 / 17;
    grid-row: 1 / 2;
 }

 .project-description {
  background-color: #FFFFFF;
  grid-column: 1  / 10;
  grid-row: 2 / 4;
  border-radius: 1vw;
  padding: 0;


 }
.middle-portion-center  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 .description-top-section {
  display: flex;
  justify-content: space-between;
  padding: 0.8vw;
 }


 .my-name {
    color: #000;
    font-size: 1.5vw;
 }

 .my-surname  {
    margin-top: -1.5vw;
    color: black;
    font-size: 0.8vw;
    font-weight: 400;
 }
 
 .button-and-date {

  margin-top: 1vw;
  display: flex;
 }

 .date-style  {
  font-weight: 400;
 }

 .button-top-right  {

    margin: 1vw;
    margin-top: -0.1rem;
    font-size: 0.5vw;
    font-weight: 700;
    height: 2vw;
    width: 6vw;
    border-radius: 2vw;
    border: none;
    background: #FFC42D;
    cursor: pointer;
    color: black;

 }

 .button-top-right:hover  {
    padding: -1rem;

 }

 .description-main-text {
  font-size: 5vw;
  font-weight: 700;
  margin-top: 2vw;

 }

 .project-description-body-text {
    font-size: 1.5vw;
    font-weight: 700;
    padding: 1.5vw;
    margin-top: -2vw;
    padding-top: 2vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 0vw;

    border-top: 4px solid black;
    border-width: 2px;
 }

 .mobile-view-one {
  background-color: #FFFFFF;
  grid-column: 10 / 14;
  grid-row: 2 / 5;
  border-radius: 1vw;
 }

 .mobile-view-two {
  background-color: #FFFFFF;
  grid-column: 14 / 18;
  grid-row: 2 / 5;
  border-radius: 1vw;
 }

 .mobile-view-project {
  height: 100%;
  width: 100%;
  border-radius: 1vw;
 }

 .project-view  {
  background-color: #FFFFFF;
  grid-column: 1 / 10;
  grid-row: 4 / 6;
  border-radius: 1vw;
 }

 .notice-text {
  background-color: #FFFFFF;
  grid-column: 10 / 18;
  grid-row: 5 / 6;
  border-radius: 1vw;
  display: flex;
  padding: 2vw;
 }

.notice-heading {
  margin-top: 2vw;
  font-weight: 700;
  font-size: 3vw;
}

.notice-body  {
  font-weight: 200;
  font-size: 1vw;
  padding: 2vw;
}

.second-project-grid  {
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(10, minmax(10vw, auto));
    grid-gap: 1vw;
    max-width: 94%;
    margin: 0 auto;
    margin-top: -50vw;
    padding: 0;
}
.completed-project  {
    grid-column: 1 / 60;
    grid-row: 1 / 2;
}

.project-video-one  {
  background-color: #FFFFFF;
  grid-column: 1 / 28;
  grid-row: 2 / 5;
  border-radius: 1vw;

}

.section-explanation  {
  background-color: #44D492;
  grid-column: 28 / 60;
  grid-row: 2 / 5;
  border-radius: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vw;
}

.section-heading {
  color: #000;
  font-size: 2.5vw;

}

.section-text {
  color: #000;
  font-weight: 400;
  font-size: 1vw;
  padding: 2vw;

}

.dsa-project-top-section  {
  display: flex;
  justify-content: space-between;
}

.dsa-project-one{
  background-color: #FFFFFF;
  grid-column: 1 / 14;
  grid-row: 5 / 6;
  border-radius: 1vw;
  padding: 1vw;

  
}

.name-dsa-1  {
  color: black;
  font-size: 1vw;
}

.name-dsa-2  {
  color: black;
  margin-top: -1vw;
  font-size: 0.82vw;
}

.name-dsa-3  {
  color: black;
  margin-top: -1vw;
  font-size: 1vw;
}

.name-dsa-4 {
  color: black;
  font-size: 1.2vw;
}

.my-name-dsa  {
  color: black;
  font-size: 1vw;
}

.my-surname-dsa  {
  color: black;
  margin-top: -1vw;
  font-size: 0.7vw;
}


.my-name-dsa-white  {
  color: white;
  font-size: 1vw;
}

.my-surname-dsa-white  {
  color: white;
  margin-top: -1vw;
  font-size: 0.7vw;
}


.body-text{
  margin-top: 4vw;
  padding-bottom: 1vw;
}
.dsa-body-text  {

  font-size: 0.7vw;

}
.dsa-body-text-white  {

  font-size: 0.7vw;
  color: white;

}

.dsa-icon {
  margin-top: 1vw;
}

.dsa-icon-white {
  color: white;
}

.dsa-project-two{
  background-color: var(--custom-baby-blue);
  grid-column: 14 / 28;
  grid-row: 5 / 6;
  border-radius: 1vw;
  padding: 1vw;
}

.dsa-project-three{
  background-color: var(--custom-orange);
  grid-column: 1 / 14;
  grid-row: 6 / 7;
  border-radius: 1vw;
  padding: 1vw;
}

.dsa-project-four{
  background-color: var(--custom-red);
  grid-column: 14 / 28;
  grid-row: 6 / 7;
  border-radius: 1vw;
  padding: 1vw;
}

.project-video-two  {
  background-color: #FFFFFF;
  grid-column: 28 / 60;
  grid-row: 5 / 7;
  border-radius: 1vw;
}

  .about-page-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, minmax(10vw, auto));
    grid-gap: 2vw;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
 
  }


  .about-heading-container{
    grid-column: 1 / 4;
    
    
  }

  .my-image{
    background-color: black;
    grid-column: 1 / 2;
    padding: 0.2vw;
    border-radius: 1rem;
    
  }

    .profile-image {
      height: 100%;
      width: 30vw;
      border-radius: 1rem;
    }

  .side-bar{
    background-color: black;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    border-radius: 1rem;
    padding: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

.side-bar-header-font-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 6vw;
  margin-left: -22.5vw;
  color: #D1D1D1;

}

.side-bar-header-font-light {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 6vw;
  margin-top: -5.5vw;
  margin-left: -21.2vw;
  color: #D1D1D1;

}
.get-in-touch-button-container  {

  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  width: 100%;
  

}

.twitter-button {

  width: 12vw;
  height: 8vw;
  border-radius: 1.5vw;
  border: none;
  background: var(--custom-baby-blue);
  cursor: pointer;
  color: black;
}

.linked-in-button {
  margin-left: 1vw;
  width: 12vw;
  height: 8vw;
  border-radius: 1.5vw;
  border: none;
  background: var(--custom-green);
  cursor: pointer;
  color: black;
}

.git-hub-button {
  margin-left: 1vw;
  width: 12vw;
  height: 8vw;
  border-radius: 1.5vw;
  border: none;
  background: var(--custom-yellow);
  cursor: pointer;
  color: black;
}

.ringer-button {
  margin-left: 1vw;
  width: 12vw;
  height: 8vw;
  border-radius: 1.5vw;
  border: none;
  background: var(--custom-orange);
  cursor: pointer;
  color: black;
}

.g-mail-button {
  margin-left: 1vw;
  width: 12vw;
  height: 8vw;
  border-radius: 1.5vw;
  border: none;
  background: var(--custom-red);
  cursor: pointer;
  color: black;
}

.side-bar-header-font-bold-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 4vw;
  margin-left: -17vw;
  color: #D1D1D1;


}

.side-bar-header-font-light-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 4.6vw;
  margin-top: -3vw;
  margin-left: -16.8vw;
  color: #D1D1D1;

}

.side-bar-body-font-light {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #D1D1D1;

}

.side-bar-button {
  margin: 2.8vw;
  font-size: 2vw;
  height: 7vw;
  width: 100%;
  border-radius: 10vw;
  border: none;
  background: #D1D1D1;
  cursor: pointer;
  color: black;

}

.side-bar-button-font-bold{
  font-size: 1.5vw;
}


.qualification-section {
  background-color: black;
  padding-top: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 0vw;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qualification-header-font-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 3vw;
  margin-left: -5.5vw;
  color: #D1D1D1;


}

.qualification-header-font-light {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 3.5vw;
  margin-top: 1vw;
  margin-left: -5vw;
  margin-top: -2vw;
  color: #D1D1D1;

}

.qualification-body-font-light {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #D1D1D1;

}

.self-study-button {
  margin: 2vw;
  height: 6vw;
  width: 100%;
  border-radius: 10vw;
  border: none;
  background: #D1D1D1;
  cursor: pointer;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.qualification-button-font-bold{
  font-size: 1.5vw;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}


/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/


/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/


.second-heading {
  padding-top: 2vw;
  padding-bottom: 1vw;

}

.card-header-info {
  column-span: all;
  font-size: 10vw;
  color: #D1D1D1;
}

.card-header-font-bold {

  font-size: 3vw;
  margin-top: -6vw;
}

.card-header-font-light {
  font-size: 2.76vw;
  margin-top: -2vw;
  padding-top: 0;
}
  
  .more-info-cards  {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(2vw, auto));
    grid-gap: 2vw;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 0.5rem;

  }
.more-info-card {
  background-color: black;
  border-radius: 1rem;
  column-count: 2;
  column-gap: 1vw;
  padding: 3vw;
  padding-bottom: 6vw;

}


.more-info-card li {
  font-size: 1vw;

}

.more-info-card li::marker {
  color: var(--custom-red);
  font-size: 2vw;
}

.card-font-bold {

  padding-top: 6vw;
  font-size: 2.7vw;
}

.card-font-light {
  font-size: 2vw;
  margin-top: -2vw;
  padding-top: 0;
}

  /* -------------------------------- Projects Section ------------------------------- */


    .self-study-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 0;
  
    }
  
    .construction-image {
      height: 80%;
      width: 90vw;
      border-radius: 1vw;
      padding-top: 2vw;
  
    }
  
    .con-self-study-heading-one {
      font-size: 5vw;
    }
  
    .con-self-study-heading-two {
      font-size: 4.8vw;
      margin-top: -4vw;
    }
  
    .con-self-study-button {
      height: 2.5vw;
      width: 2.5vw;
      background-color: #bbb;
      border-radius: 50%;
      margin: 1vw;
      display: inline-block;
  
    }
  
    .con-self-study-button:nth-child(1) {
      background-color: var(--custom-baby-blue);
  
    }
  
    .con-self-study-button:nth-child(2) {
      background-color: var(--custom-green);
  
    }
  
    .con-self-study-button:nth-child(3) {
      background-color: var(--custom-orange);
  
    }
  
    .con-self-study-button:nth-child(4) {
      background-color: var(--custom-red);
  
    }
  
    .con-self-study-button:nth-child(5) {
      background-color: var(--custom-yellow);
  
    }
  
    .con-self-study-button:hover {
      background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
      animation: slidebg 10s linear infinite;
      margin-left: -1vw;
      transition: margin 0.5s ease-in-out;
    }


}